/ejercicio1/demo/target/
/Ejercicio_1/demo/target/
/ejercicio_4/target/
/Ejercicio_4/target/
/Ejercicio_5/target/
/ejercicio_5/target/
/ejercicio1/demo/target/classes/
/Ejercicio_1/demo/target/classes/
/ejercicio_4/target/classes/
/Ejercicio_4/target/classes/
/Ejercicio_5/target/classes/
/ejercicio_5/target/classes/